$bg_topBar: rgba(241, 235, 235, 0.503);
$social_hover_color: white;
$hover_color: rgb(129, 116, 116);
p {
  margin-bottom: 0;
}

// Top bar scss

.top-bar-container {
  background-image: linear-gradient(90deg, rgba(0, 139, 139, 0.2), rgba(0, 139, 139, 0.1), rgba(0, 139, 139, 0.2));
  padding: 2px 0;
  .social-left {
    display: flex;
    a {
      padding: 3px 0;
      margin: 0 7px 0 0;
      transition: 1s;
      font-weight: 300;
      font-size: 14px;
      text-decoration: none;
      &:hover {
        color: $hover_color;
      }
      i{
        color: darkcyan;
      }
    }
  }
  .social-right {
    display: flex;
    justify-content: flex-end;
    a {
      display: inline-block;
      color: darkcyan;
      border-radius: 3px;
      transition: border 1s;
      font-size: 18px;
      margin: 0 5px;
      &:hover {
       color: cyan;
      }
    }
  }
}
// Nav bar scss

.nav-area {
  background-color: white;
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  .nav-logo {
    display: none;
    h1 {
      a {
        text-transform: uppercase;
        text-decoration: none;
        color: rgb(251, 73, 73);
      }
    }
  }
  .nav-drawer {
    border-radius: 7px;
    margin: 5px 0;
    transition: box-shadow 0.5s;
    border: 2px solid rgba(227, 225, 225, 0.421);
    &:hover {
      box-shadow: 0px 5px 20px #e1d1d1;
      cursor: pointer;
    }
    .drawer-item {
      justify-content: space-around;
      display: flex;
      align-items: center;
      height: 100%;
      p {
        padding: 10px 10px;
        margin-bottom: 0;
        position: relative;
        &::before {
          content: "";
          width: 80%;
          height: 2px;
          top: 35px;
          background-color: #a8a0a039;
          position: absolute;
        }
      }
      .add-guests {
        display: flex;
        align-items: center;
        p {
          color: #a8a0a0;
        }
        span {
          background-color: rgb(255, 73, 23);
          padding: 5px 10px;
          border-radius: 50%;
          color: white;
        }
      }
    }
  }
  .nav-settings {
    display: none;
    .setting {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      height: 100%;
      .host {
        a {
          text-decoration: none;
          font-size: 16px;
          color: #767676;
          padding: 5px 10px;
          border-radius: 7px;
          transition: background-color 0.5s;
          border: 1px solid #c0c0c042;
          &:hover {
            background-color: #a8a0a061;
            border: 1px solid #c0c0c042;
            color: darkcyan;
          }
        }
      }
      .language {
        p {
          margin: 0 10px;
          padding: 5px 9px;
          border-radius: 50%;
          transition: background-color 0.5s;
          background: #e1e0e0;
          &:hover {
            background-color: #a8a0a061;
          }
        }
      }
      .hamburger {
        display: flex;
        border: 2px solid rgb(171, 164, 164);
        height: 40px;
        border-radius: 7px;
        align-items: center;
        transition: box-shadow 0.5s;
        font-size: 20px;
        &:hover {
          box-shadow: 0 0 15px #a8a0a061;
        }
        p {
          margin-bottom: 0;
          padding: 0 5px;
          color: #a8a0a0;
          .fa-circle-user {
            color: silver;
            display: flex;
            align-items: center;
            font-size: 30px;
          }
        }
      }
    }
  }
}

// Banner section scss
.banner img{
  height: 500px;
  width: 100%;
  object-fit: cover;
}

// About section scss

.about-section {
  margin: 20px 0;
  line-height: 25px;
  .section-heading {
    h1 {
      text-align: center;
      text-transform: uppercase;
      padding: 25px 0;
      font-size: 28px;
    }
  }
  .row {
    .content-left {
      padding-bottom: 20px;
      .image-left {
        padding: 0 0;
        img {
          width: 100%;
          height: 300px;
          object-fit: cover;
          object-position: top;
        }
      }
    }

    .text-container{
      //display: flex;
      padding: 0;
      .border-left{
        display: none;
        height: 100%;
        width: 15px;
        background-color: rgb(234, 241, 241);
        margin: 0 10px;
        position: relative;
        &::before{
          content: '';
          height: 50px;
          width: 5px;
          background-color: #a8a0a0;
          position: absolute;
          top: 0;
          bottom: 0;
          margin: auto;
        }
      }
    }}
    .content-right {
      padding-bottom: 55px;
      .image-right {
        padding: 0 0;
        img {
          width: 100%;
          height: 300px;
          object-fit: cover;
          object-position: top;
        }
      }
    }
    .text-container-bottom{
      display: flex;
      padding: 0;
      .border-right{
        display: none;
        height: 100%;
        width: 15px;
        background-color: rgb(234, 241, 241);
        margin: 0 10px;
        position: relative;
        order: 1;
        &::before{
          content: '';
          height: 50px;
          width: 5px;
          background-color: #a8a0a0;
          position: absolute;
          top: 0;
          bottom: 0;
          margin: auto;
        }
      }
    }
  }

// Footer section scss

.footer-area {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 15px 0;
  border-top: 1px solid #ddd;
  background-color: white;
  .footer-left {
    .footer-link {
      display: flex;
      align-items: center;
      ul {
        display: flex;
        align-items: center;
        list-style: none;
        margin-bottom: 0;
        padding-left: 0;
        li {
          margin: 0 5px;
          position: relative;
          &:before {
            content: "";
            width: 100%;
            height: 1px;
            background-color: #a8a0a0;
            position: absolute;
            bottom: 0;
            transition: 0.5s;
          }
          a {
            text-decoration: none;
            color: rgb(104, 98, 98);
            &:hover {
              color: #a8a0a0;
            }
          }
        }
      }
    }
  }
  .footer-right {
    display: flex;
    justify-content: flex-end;
    .language {
      margin: 0 5px;
    }
    .currency {
      margin: 0 5px;
      span {
        margin-right: 5px;
      }
    }
    .support {
      cursor: pointer;
    }
  }
  .footer-big {
    z-index: 999;
    background-color: #a8a0a0;
    width: 400px;
  }
}

.subscribe{
  input{
  border:2px solid #008B8B;
  border-radius: 10px 0 0 10px;
  &:focus {
    border-color: #48b9b9;
    box-shadow: none;
}}
}

.download-app{
  img{
    width: 150px;
    padding: 0 10px;
  }
}

.lead{
  text-align: justify!important;
}
.text-theme{
  color: darkcyan;
}

.section-gap{
  margin-top: 150px!important;
  margin-bottom:150px!important;
}
.view-more-button{
  background: transparent;
  border: 2px solid darkcyan;
  padding: 10px 30px;
  border-radius: 10px;
  color: darkcyan;
  transition: all .2s ease-in-out;
  &:hover{
    background: darkcyan;
    color: white;
  }
}

@keyframes newitem {
  0%{
    transform: translateY(5px);
  }100%{
    transform: translateY(-0px);
  }
}

.home-card-item{
  box-shadow: 0 0 10px silver;
  border-radius: 10px;
  transition: transform .5s ease-in-out;
  
  span{
    background-color: #008B8B;
    padding: 3px;
    border-radius: 4px;
    position: absolute;
    text-align: center;
    bottom: -15px;
    width: 50px;
    right: 10px;
    color: white;
    animation: newitem 1s infinite alternate;
  }
  .image-container{
    position: relative;
  }
  .content{
    padding: 15px;
    h6{
      color: darkcyan;
    }
    p{
      font-size: 14px;
      margin: 0;
      color: gray;
      strong{
        color: darkcyan;
      }
    }
    div{
      .favourite{
        border: none;
        background-color: transparent;
      }
      i{
        color: gray;
        font-size: 20px;
      }
    }
    
  }
  &:hover{
    transform: scale(1.1);
  }
}


.slick-next{
  right: 25px !important;
}

.slick-prev{
  left: 25px !important;
  z-index: 99;
}
.slick-dots{
  bottom: 25px!important;
}
